<div>
    <img src="assets/img/TERA.gif" alt="image">
</div>


<div class="chatbox-fab">
  <button (click)="toggleChatBox($event)"
  mat-fab aria-label="Example icon-button with a heart icon">
    +
  </button>
</div>

<div *ngIf="openChatBox">
  <div class="chatbox-container">

    <div class="chatbox-header">
      <mat-card>Trade Enable Robotic Assistance</mat-card>
    </div>



    <div class="chatbox-body">
      <app-botmessage></app-botmessage>
      <div *ngFor="let message of userMessages">
        <app-message [message]="message.text" *ngIf="message.type=='user'"></app-message>
        <app-botmessage [message]="message.text" *ngIf="message.type=='bot'"></app-botmessage>
      </div>
    </div>


    <div class="chatbox-footer">
      <mat-card>
        <app-chatinput (onChange)="handleUserMesage($event)"></app-chatinput>
      </mat-card>
    </div>
  </div>
</div>

<div class="mic-style" *ngIf="openChatBox">
    <button mat-fab (click)="startButton($event)">
        <mat-icon *ngIf="!recognizing">mic</mat-icon>
        <mat-icon *ngIf="recognizing" >stop</mat-icon>
      </button>
</div>
<mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>