.speech-result-width {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  padding: 10px;
  text-align: center;
}

.mat-input-element:disabled {
  color: rgba(0,0,0,.9);
}

.notification {
  margin-left: 20px;
  margin-right: 20px;
}

.chatbox-fab {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 1rem 1rem 0;
}

.mic-style {
  position: absolute;
    bottom: 15px;
    right: 80px;
}

.notification {
  position: absolute;
    bottom: 15px;
    right: 130px;
}

.chatbox-container {
  width: 500px;
    height: 360px;
    border: 1px solid #d2cbcb;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    bottom: 5rem;
    display: flex;
    flex: 1;
    flex-direction: column;

    .chatbox-body {
      flex: 1;
      overflow-y: auto;
    }
}
